<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
        "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.xerxes.service</string>
        <key>ServiceDescription</key>
        <string>Xerxes health checker and service discovery</string>
        <key>ProgramArguments</key>
        <array>
            <string>$HOME/Desktop/xenex/service_discovery/scripts/run.sh</string>
        </array>
        <key>RunAtLoad</key>
        <false/>
        <key>WorkingDirectory</key><string>$HOME/Desktop/xenex/service_discovery/</string>
        <key>StandardOutPath</key><string>$HOME/Desktop/xenex/service_discovery/logs/sd.log</string>
        <key>KeepAlive</key><true/>
        <key>Disabled</key><false/>
    </dict>
</plist>