[Unit]
Description=XerxesOrchestrator
ConditionPathExists=/home/ubuntu/api-gateway/

[Service]
Type=simple
LimitNOFILE=1024

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60
ExecStart=/home/ubuntu/api-gateway/service_discovery/build/xerxes


[Install]
WantedBy=multi-user.target